@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    @Html.Partial("_PartialCSS")
</head>
<body>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-default">
        <a class="navbar-brand" href="~/Home">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                @*Start Notification Dropdown*@
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope-square" aria-hidden="true"></i>
                        Notification
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/EmailNotification/Index">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                List
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" href="~/EmailNotification/Create">
                                <i class="fa fa-send-o" aria-hidden="true"></i>
                                Send Email
                            </a>
                        </li>
                    </ul>
                </li>
                @*End Credential Dropdown*@

                <li><a href="~/Home/About"><i class="fa fa-info" aria-hidden="true"></i> About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @*Start User Dropdown*@
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-sort-down" aria-hidden="true"></i>

                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/Credential/Signout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </li>
                @*End User Dropdown*@
            </ul>

        </div>

    </nav>
    <div id="MainContainer" class="body-content" ng-app="App">
        @Html.Partial("_PartialScript")
        @Scripts.Render("~/bundles/AngularJS")
        @RenderBody()
    </div>
</body>
</html>

<style>
.footer {
        position: fixed;
        left: 0;
        padding-top: 20px; 
        padding-bottom: 20px;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
        background-color: lightgray;
}

</style>

<div class="footer">
    &copy; 2018. - Anderson Group BPO Inc. | <a href="#">Anderson.Notification</a> - Private and Confidential.
</div>
