@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)

    @Html.Partial("_PartialCSS")
</head>
<body>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <a class="navbar-brand" href="~/Home">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                @*Start Credential Dropdown*@
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        Mail
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/Notification">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                List
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/Norification/Create">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Create
                            </a>
                        </li>
                    </ul>
                </li>
                @*End Credential Dropdown*@

                @*Start Role Dropdown*@
                @*<li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-group" aria-hidden="true"></i>
                        Role
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="nav-link" href="~/Role">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                List
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="~/Role/Create">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Create
                            </a>
                        </li>
                    </ul>
                </li>*@
                @*End Role Dropdown*@
                <li><a href="~/Home/About"><i class="fa fa-info" aria-hidden="true"></i> About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                @*Start User Dropdown*@
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user" aria-hidden="true"> @*@Cookies.Username*@ </i>
                    </a>
                    <ul class="dropdown-menu">
                        @*<li>
                            <a class="nav-link" href="~/Credential/ChangePassword">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                Change Password
                            </a>
                        </li>*@
                        <li>
                            <a class="nav-link" href="~/Credential/Signout">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </li>
                @*End User Dropdown*@
            </ul>
        </div>
    </nav>
    <div id="MainContainer" class="body-content" ng-app="App">
        @Html.Partial("_PartialScript")
        @Scripts.Render("~/bundles/AngularJS")
        @RenderBody()
    </div>
</body>
</html>